@model  IEnumerable<ServiceViewModel>
<nav class="navigation navbar navbar-default">
    <div class="separator-bottom"></div>
    <div class="separator-bottom-2"></div>
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="open-btn">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="index.html"><img src="~/images/logo.png" alt></a>
        </div>
        <div id="navbar" class="navbar-collapse collapse navbar-left navigation-holder">
            <div class="left-separator"></div>
            <button class="close-navbar"><i class="ti-close"></i></button>
            <ul class="nav navbar-nav">
                <li class="menu-item-has-children current-menu-parent">
                    <a href="#">Home</a>
                    <ul class="sub-menu">
                        <li class="current-menu-item"><a href="index.html">Home style 1</a></li>
                        <li><a href="index-2.html">Home style 2</a></li>
                        <li><a href="index-3.html">Home style 3</a></li>
                        <li><a href="index-4.html">Home style 4</a></li>
                    </ul>
                </li>
                <li class="menu-item-has-children">
                    <a href="#">Pages</a>
                    <ul class="sub-menu">
                        <li><a asp-controller="Home" asp-action="AboutUs">About us</a></li>
                        <li><a asp-controller="Home" asp-action="Contact">Contact us</a></li>
                        <li><a href="awards.html">Awards</a></li>
                        <li><a href="pricing-plan.html">Pricing plan</a></li>
                        <li><a href="testimonials.html">Testimonials</a></li>
                        <li><a href="testimonials-s2.html">Testimonials style 2</a></li>
                        <li><a href="team.html">Team</a></li>
                        <li><a asp-controller="Home" asp-action="FAQ">FAQ</a></li>
                        <li><a href="404.html">404</a></li>
                    </ul>
                </li>
                <li class="menu-item-has-children">
                    <a href="#">Services</a>
                    <ul class="sub-menu">
                        @foreach (var service in Model)
                                        {
                            <li><a href="services.html">@service.Name</a></li>
                            @*<li><a href="services-s2.html">Services style 2</a></li>
                            <li><a href="service-single.html">Life insurance</a></li>
                            <li><a href="car-insurance.html">Car insurance</a></li>
                            <li><a href="home-insurance.html">Home insurance</a></li>
                            <li><a href="health-insurance.html">Helth insurance</a></li>
                            <li><a href="investment-plan.html">Investment plan</a></li>
                            <li><a href="life-insurance.html">Life insurance</a></li>**@
                        }

                    </ul>
                </li>
                <li class="menu-item-has-children">
                    <a href="#">Case studies</a>
                    <ul class="sub-menu">
                        <li><a asp-controller="CaseStudies" asp-action="CaseStudies">Case studies</a></li>
                        <li><a asp-controller="CaseStudies" asp-action="CaseStudiesSingle">Case studies single</a></li>
                    </ul>
                </li>
                <li class="menu-item-has-children">
                    <a asp-controller="Blog" asp-action="Blog">Blog</a>
                    <ul class="sub-menu">
                        <li class="menu-item-has-children">
                            <a href="#Level3">Blog listing</a>
                            <ul class="sub-menu">
                                <li><a asp-controller="Blog" asp-action="BlogFullWidth">Full width</a></li>
                            </ul>
                        </li>
                        @*<li class="menu-item-has-children">
                                <a href="#Level3">Blog grid</a>
                                <ul class="sub-menu">
                                    <li><a href="blog-grid-2-columns.html">2 columns</a></li>
                                    <li><a href="blog-grid-2-columns-sidebar.html">2 columns sidebar</a></li>
                                    <li><a href="blog-grid-3-columns.html">3 columns</a></li>
                                    <li><a href="blog-grid-4-columns.html">4 columns</a></li>
                                </ul>
                            </li>
                            <li class="menu-item-has-children">
                                <a href="#Level3">Blog masonry</a>
                                <ul class="sub-menu">
                                    <li><a href="blog-masonry-2-columns.html">2 columns</a></li>
                                    <li><a href="blog-masonry-2-columns-sidebar.html">2 columns sidebar</a></li>
                                    <li><a href="blog-masonry-3-columns.html">3 columns</a></li>
                                    <li><a href="blog-masonry-4-columns.html">4 columns</a></li>
                                </ul>
                            </li>
                            <li class="menu-item-has-children">
                                <a href="#Level3">Blog single</a>
                                <ul class="sub-menu">
                                    <li><a href="blog-single.html">Right sidebar</a></li>
                                    <li><a href="blog-single-left-sidebar.html">Left sidebar</a></li>
                                    <li><a href="blog-single-full-width.html">Full width</a></li>
                                </ul>
                            </li>*@
                    </ul>
                </li>
                <li><a href="contact.html">Contact</a></li>
            </ul>
        </div><!-- end of nav-collapse -->

        <div class="search-contact">
            <div class="contact">
                <a href="#">
                    <i class="fi flaticon-feedback"></i>
                    <h5>Have any query?</h5>
                    <span>++8891682000000</span>
                </a>
            </div>
            <div class="header-search-area">
                <div class="header-search-form">
                    <form class="form">
                        <div>
                            <input type="text" class="form-control" placeholder="Search here">
                        </div>
                        <button type="submit" class="btn"><i class="ti-search"></i></button>
                    </form>
                </div>
                <div>
                    <button class="btn open-btn"><i class="ti-search"></i> <span>Search</span></button>
                </div>
            </div>
        </div>

    </div><!-- end of container -->
</nav>
